version: 2
updates:
  - package-ecosystem: "mix"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    reviewers:
      - "efcasado"
    rebase-strategy: "auto"
    commit-message:
      prefix: "chore(deps)"
