/.fetch
/_build/
/archives/
/cover/
/deps/
/doc/
/escripts/
/tmp/
/packages/
/priv/plts/*.plt
/priv/plts/*.plt.hash
/test/reports/
/benchmarks/results/
/benchmarks/**/__pycache__/
/benchmarks/java/target/
/benchmarks/go/pulsar-benchmark-go
cache.ets
erl_crash.dump
*.ez
pulsar-*.tar
*~
.elixir_ls/
.DS_Store